Prprocessing with z-score and min-max

In [2]:
import pandas as pd
import numpy as np

In [73]:
df=pd.read_csv("../Datasets/iris_missing.csv")

In [74]:
df.head()

   sepal_length  sepal_width  petal_length  petal_width      Species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           0.0          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

a) detect null value, replace with median for each row

In [75]:
kondisi1 = df['sepal_length'] == 0.0
kondisi2 = df['sepal_width'] == 0.0
kondisi3 = df['petal_length'] == 0.0
kondisi4 = df['petal_width'] == 0.0
df.loc[kondisi1 | kondisi2 | kondisi3 | kondisi4]

     sepal_length  sepal_width  petal_length  petal_width          Species
2             0.0          3.2           1.3          0.2      Iris-setosa
11            0.0          3.4           1.6          0.2      Iris-setosa
32            5.2          0.0           1.5          0.1      Iris-setosa
47            4.6          3.2           0.0          0.2      Iris-setosa
51            6.4          0.0           4.5          1.5  Iris-versicolor
65            6.7          3.1           4.4          0.0  Iris-versicolor
67            5.8          2.7           0.0          1.0  Iris-versicolor
86            6.7          0.0           4.7          1.5  Iris-versicolor
107           0.0          2.9           6.3          1.8   Iris-virginica
112           6.8          3.0           0.0          2.1   Iris-virginica
113           5.7          2.5           5.0          0.0   Iris-virginica
139           6.9          3.1           5.4          0.0   Iris-virginica
145           6.7          3.0           5.2          0.0   Iris-virginica

b) replace with np.NaN so zeroes can detected as null by isnull()

In [76]:
df_null=df.replace(0.0, np.NaN)

kondisi1 = df_null['sepal_length'].isnull()
kondisi2 = df_null['sepal_width'].isnull()
kondisi3 = df_null['petal_length'].isnull()
kondisi4 = df_null['petal_width'].isnull()
df_null.loc[kondisi1 | kondisi2 | kondisi3 | kondisi4]

     sepal_length  sepal_width  petal_length  petal_width          Species
2             NaN          3.2           1.3          0.2      Iris-setosa
11            NaN          3.4           1.6          0.2      Iris-setosa
32            5.2          NaN           1.5          0.1      Iris-setosa
47            4.6          3.2           NaN          0.2      Iris-setosa
51            6.4          NaN           4.5          1.5  Iris-versicolor
65            6.7          3.1           4.4          NaN  Iris-versicolor
67            5.8          2.7           NaN          1.0  Iris-versicolor
86            6.7          NaN           4.7          1.5  Iris-versicolor
107           NaN          2.9           6.3          1.8   Iris-virginica
112           6.8          3.0           NaN          2.1   Iris-virginica
113           5.7          2.5           5.0          NaN   Iris-virginica
139           6.9          3.1           5.4          NaN   Iris-virginica
145           6.7          3.0           5.2          NaN   Iris-virginica

c) create imputation function that transform null values into it's class mean

In [79]:
def imputation(df_input):
  list_columns = df_input.columns
  class_column = list_columns[-1]
  for column in list_columns[:-1]:
    df_input[column] = df_input[column].fillna(df_input.groupby(class_column)[column].transform('mean'))
  return df_input

In [81]:
df_clean=imputation(df_null)

In [82]:
df_clean.isnull().values.any()

False

In [83]:
df_clean.head()

   sepal_length  sepal_width  petal_length  petal_width      Species
0      5.100000          3.5           1.4          0.2  Iris-setosa
1      4.900000          3.0           1.4          0.2  Iris-setosa
2      5.016667          3.2           1.3          0.2  Iris-setosa
3      4.600000          3.1           1.5          0.2  Iris-setosa
4      5.000000          3.6           1.4          0.2  Iris-setosa

In [93]:
def get_range(df_input):
  features = df_input.columns[:-1]
  for feature in features:
    max = df_input[feature].max()
    min = df_input[feature].min()
    print("range of",feature, " is ", max-min)

In [94]:
get_range(df_clean)

range of sepal_length  is  3.6000000000000005
range of sepal_width  is  2.4000000000000004
range of petal_length  is  5.9
range of petal_width  is  2.4

Normalisasi min-max

In [95]:
def minmax(df):
  features = df.columns[:-1]
  for feature in features:
    max = df[feature].max()
    min = df[feature].min()
    df[feature] = (df[feature]-min) / (max - min)
  return df

In [97]:
df_minmaxnormal = minmax(df_clean)
df_minmaxnormal

     sepal_length  sepal_width  petal_length  petal_width         Species
0        0.222222     0.625000      0.067797     0.041667     Iris-setosa
1        0.166667     0.416667      0.067797     0.041667     Iris-setosa
2        0.199074     0.500000      0.050847     0.041667     Iris-setosa
3        0.083333     0.458333      0.084746     0.041667     Iris-setosa
4        0.194444     0.666667      0.067797     0.041667     Iris-setosa
..            ...          ...           ...          ...             ...
145      0.666667     0.416667      0.711864     0.799645  Iris-virginica
146      0.555556     0.208333      0.677966     0.750000  Iris-virginica
147      0.611111     0.416667      0.711864     0.791667  Iris-virginica
148      0.527778     0.583333      0.745763     0.916667  Iris-virginica
149      0.444444     0.416667      0.694915     0.708333  Iris-virginica

[150 rows x 5 columns]

In [98]:
get_range(df_minmaxnormal)

range of sepal_length  is  1.0
range of sepal_width  is  1.0
range of petal_length  is  1.0
range of petal_width  is  1.0